<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Circuit-like app built with vue.js and Circuit JS SDK">
    <meta name="author" content="Roger Urscheler">
    <link rel="icon" href="logo-circuit-js.png">
    <title>Circuit SDK App</title>
    <link rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/github.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link href="https://cdn.quilljs.com/1.1.10/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="style.less" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <style>[v-cloak] { display: none; }</style>
  </head>
  <body>
    <div id="app" v-cloak>

      <!-- Landing page -->
      <c-landing v-show="!system"
        v-on:switch-system="switchSystem"
        :systems="systems"
        :user="user"
        :system-loading="systemLoading"
        :connecting-system="connectingSystem">  
      </c-landing>

      <!-- Main header -->
      <c-header v-show="!!system" :user="user"></c-header>

      <transition name="fade">
        <div class="container-fluid" v-show="!!system">
          <div class="row">

            <!-- Left Pane -->
            <div id="selector">
              <div v-if="!conversations.length" class="loading">Loading...</div>
              <div class="panel-body">

                <!-- Conversation Filter -->
                <c-conversation-filter ref="filter" v-on:filter-changed="onFilterChanged" :filters="filters"></c-conversation-filter>

                <!-- Conversation Selector -->
                <c-conversation-selector ref="selector" v-on:conversation-selected="onConversationSelected" :conversations="filteredConversations"></c-conversation-selector>

              </div>
            </div>

            <!-- Right Pane -->
            <div class="main">


              <!-- Conversation Header -->
              <c-conversation-header :conversation="conversation"></c-conversation-header>
              <!-- Content -->
              <div class="content">

                <div class="row">

                  <!-- Conversation Feed -->
                  <div class="col-8">

                    <!-- Feed List -->
                    <ul class="list-unstyled feed-list">
                      <template v-for="thread in conversation.threads">
                        <c-thread :thread="thread" v-if="thread.parentItem.type=='TEXT'"></c-thread>
                      </template>
                    </ul>

                    <!-- Main editor -->
                    <c-main-editor ref="mainEditor" v-on:start-thread="startThread"></c-main-editor>

                  </div>

                  <!-- Thread Shortcout -->
                  <c-thread-shortcut :conversation="conversation"></c-thread-shortcut>

                </div>

              </div> <!-- Content -->
            </div> <!-- Right Pane -->
          </div>
        </div>
      </transition>

      <!-- Define Modals -->
      <c-profile-modal v-on:switch-system="switchSystem" v-on:logout="logout" :systems="systems" :system="system" :user="user"></c-profile-modal>
      <c-notification-modal></c-notification-modal>
      <c-search-modal></c-search-modal>
      <c-info-modal></c-info-modal>

      <!-- Define Popovers -->
      <c-participants-popover :conversation="conversation"></c-participants-popover>
      <c-details-popover :conversation="conversation" :user="user"></c-details-popover>
      <c-schedule-popover :conversation="conversation"></c-schedule-popover>
      <c-files-popover :conversation="conversation"></c-files-popover>

    </div>

    <!-- 3rd party JS files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdn.quilljs.com/1.1.10/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>

    <!-- Circuit SDK -->
    <script src="https://circuitdev.unify.com:8094/circuit.js"></script>

    <!-- app -->
    <script src="utils.js"></script>
    <script src="components/landing.js"></script>
    <script src="filters.js"></script>
    <script src="components/avatar.js"></script>
    <script src="components/usersList.js"></script>
    <script src="components/likesPopover.js"></script>
    <script src="components/textItem.js"></script>
    <script src="components/itemActions.js"></script>
    <script src="components/thread.js"></script>
    <script src="components/mainEditor.js"></script>
    <script src="components/infoModal.js"></script>
    <script src="components/profileModal.js"></script>
    <script src="components/searchModal.js"></script>
    <script src="components/notificationModal.js"></script>
    <script src="components/participantsPopover.js"></script>
    <script src="components/detailsPopover.js"></script>
    <script src="components/schedulePopover.js"></script>
    <script src="components/filesPopover.js"></script>
    <script src="components/header.js"></script>
    <script src="components/conversationFilter.js"></script>
    <script src="components/conversationSelector.js"></script>
    <script src="components/conversationHeader.js"></script>
    <script src="components/threadShortcut.js"></script>
    <script src="components/replyEditor.js"></script>
    <script src="app.js"></script>
    <script src="injectors.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67318539-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
